ASPNETCORE_Kestrel__Certificates__Default__Path=/app/secrets/lim-server-cert.pfx # Optional - if setting up SSL in the container, path needs to match mapped volume
ASPNETCORE_Kestrel__Certificates__Default__Password=changeme # Optional - if setting up SSL in the container and the certificate requires a password

ASPNETCORE_URLS=https://+:443;http://+:80 # Required
#ConnectionStrings__LimDb=#Optional - if not included, defaults to Data Source=.\\database\\Lim.db

Signing__CertificatePath=/app/secrets/lim-signing-cert.pfx #Optional - customer can supply signing certificate but it must contain a public/private key pair, preferrably a pfx file,
#      #if one is not supplied, the LIM will create a self-signed cert in .\\certificates
Signing__CertificatePassword=changeme #Optional - customer can supply a password for the signing certificate, this will also be used if the LIM creates the cert as a self-signed cert.

JWT__ValidAudience=FortifyLimAuthAudience # Required
JWT__ValidIssuer=FortifyLimAuthIssuer # Required
JWT__SecurityKey=changeme # Required
#JWT__ExpirationMinutes= # Optional - if not included, defaults to 5 minutes
#JWT__RefreshTokenExpirationMinutes= # Optional - if not included, defaults to 60 minutes

DefaultAdministrator__Login=admin # Required for new LIM environment, optional when already configured.  Will create the default administratory account or reset if needed.
DefaultAdministrator__FullName=admin # Display name for the user
DefaultAdministrator__Password=changeme
DefaultAdministrator__Email=limadmin@fortify.local"

#Proxy__Mode=0 # Optional - if not included, 0.  Values can be: None=0, AutoDetect=1, Manual=2
#Proxy__Address= # Optional - only include if Proxy__Mode=2
#Proxy__Port= # Optional - only include if Proxy__Mode=2
#Proxy__UserName= # Optional - only include if Proxy__Mode=2
#Proxy__Password= # Optional - only include if Proxy__Mode=2

AllowNonTrustedServerCertificate=true # Optional - if not included, defaults to true
FortifyLicensingUrl=https://licenseservice.fortify.microfocus.com/