ASPNETCORE_Kestrel__Certificates__Default__Path=/app/secrets/lim-server-cert.pfx
ASPNETCORE_Kestrel__Certificates__Default__Password=atBg4RNlJjWM4GUueXWVqRU+QRTkNgNnex2phwY5g8s=

ASPNETCORE_URLS=https://+:8443;http://+:8080
#ConnectionStrings__LimDb=

Signing__CertificatePath=/app/secrets/lim-signing-cert.pfx
Signing__CertificatePassword=zRP9N9fIXV3lz3PrpBiWyOSCw7Qm5fcQUGVB+wqZNbg=

JWT__ValidAudience=FortifyLimAuthAudience
JWT__ValidIssuer=FortifyLimAuthIssuer
JWT__SecurityKey=FHZuWhBcmjXnq0nSGuXhEq5OkMxUwsFrHbyCSh4XNnU
#JWT__ExpirationMinutes=
#JWT__RefreshTokenExpirationMinutes=

DefaultAdministrator__Login=admin
DefaultAdministrator__FullName=admin
DefaultAdministrator__Password=changeme
DefaultAdministrator__Email=limadmin@fortify.local

#Proxy__Mode=0
#Proxy__Address=
#Proxy__Port=
#Proxy__UserName=
#Proxy__Password=

AllowNonTrustedServerCertificate=true
FortifyLicensingUrl=https://licenseservice.fortify.microfocus.com/
